.wd-fa-half {
    font-size:0.5em;
}
.wd-fg-color-cyborg-list-bg {
    color: #222222;
}
.wd-width-60px {
    width: 60px;
}
.wd-width-85px {
    width: 85px;
}
.wd-width-120px {
    width: 120px;
}
.wd-explore-avatar {
    border-radius: 50%;
    max-height: 40px;
    max-width: 40px;
    overflow: hidden;
}
.wd-post-summary-image {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.wd-pill {
    border-radius: 30px;
    width: 100%;
}